<div class="min-100vh">
  <div class="container">
    <button class="btn btn-success fw-bold btn-excel" (click)="descargarExcel()">
      Descargar excel usuarios
    </button>
    <div class="contenedorCards">
      <!-- Especialistas -->
      <h2 class="h2 text-white fw-bold">ESPECIALISTAS</h2>
      <div class="row">
        <div *ngFor="let usuario of listaEspecialistas" class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card usuario-card">
            <img class="card-img-top img-fluid" [src]="usuario.imagenUno" alt="{{ usuario.nombre }}" />
            <div class="card-body text-center">
              <h5 class="card-title">{{ usuario.nombre }} {{ usuario.apellido }}</h5>
              <p class="card-text">
                <strong>Edad:</strong> {{ usuario.edad }}<br />
                <strong>DNI:</strong> {{ usuario.dni }}<br />
                <strong>Especialidad:</strong> {{ usuario.especialidad }}<br />
                <strong>Correo:</strong> {{ usuario.mail }}<br />
                <strong>Validado:</strong> {{ usuario.estaValidado ? 'Sí' : 'No' }}
              </p>
              <button (click)="validarEspecialista(usuario)" class="btn btn-primary">
                {{ usuario.estaValidado ? 'Remover' : 'Validar' }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Pacientes -->
      <h2 class="h2 text-white fw-bold">PACIENTES</h2>
      <div class="row">
        <div *ngFor="let usuario of listaPacientes" class="col-12 col-md-6 col-lg-4 mb-4"
          (click)="descargarTurnosPaciente(usuario)" appHoverTooltip>
          <div class="card usuario-card">
            <img class="card-img-top img-fluid" [src]="usuario.imagenUno" alt="{{ usuario.nombre }}" />
            <div class="card-body text-center">
              <h5 class="card-title">{{ usuario.nombre }} {{ usuario.apellido }}</h5>
              <p class="card-text">
                <strong>Edad:</strong> {{ usuario.edad }}<br />
                <strong>DNI:</strong> {{ usuario.dni }}<br />
                <strong>Obra Social:</strong> {{ usuario.obraSocial || 'No especificada' }}<br />
                <strong>Correo:</strong> {{ usuario.mail }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="contenedorBotones">
        <button type="button" class="btn btn-success boton" routerLink="/historia-clinica">
          Ver historia clínica de pacientes
        </button>
        <button type="button" class="btn btn-success boton" routerLink="/registro">
          Registrar Usuarios
        </button>
      </div>
    </div>
  </div>
</div>