<div class="d-flex justify-content-center align-items-center min-100vh">
    <div class="chart-container">
        <h1 class="fw-bold">Turnos por dia</h1>
        <div class="input-group mb-3 mt-2">
            <div class="form-group d-flex align-items-center mb-3">
                <label for="fechaSeleccionada" class="form-label me-2">Seleccione una fecha:</label>
                <select [(ngModel)]="fechaSeleccionada" id="fechaSeleccionada" class="form-control"
                    (change)="actualizarTurnosParaFecha(fechaSeleccionada)">
                    <option *ngFor="let fecha of fechasUnicas" [value]="fecha">{{ fecha }}</option>
                </select>
            </div>
        </div>
        <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
            [legend]="showLegend" [labels]="showLabels" [doughnut]="isDoughnut" legendTitle="Especialista">
        </ngx-charts-pie-chart>
        <button (click)="descargarPDF(single)" type="button" class="btn btn-success mt-3">
            Descargar
        </button>
    </div>
</div>