<div class="d-flex justify-content-center align-items-center min-100vh" @fadeIn>
    <div class="container">
        <div class="row">
            <div class="col">
                <button (click)="cambiarResultado('especialista')" class="boton" type="button" title="Especialista">
                    <img src="assets/doctor.png" alt="doc" />
                </button>
            </div>
            <div class="col">
                <button (click)="cambiarResultado('paciente')" class="boton" type="button" title="Paciente">
                    <img src="/assets/paciente.png" alt="paciente" />
                </button>
            </div>
            @if(this.authService.currentUserSig()?.rol == "admin") {
            <div class="col">
                <button (click)="cambiarResultado('admin')" class="boton" type="button" title="Admin">
                    <img src="assets/administrador.png" alt="admin" />
                </button>
            </div>
            }
        </div>
    </div>
</div>