.min-100vh {
  min-height: 100vh;
  background-image: url("../../../../public/assets/hospital-background.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 30px;
  border: 2px solid #7c9;
  padding: 35px;
  width: 42%;
  align-items: center;
  justify-content: center;
}

.boton {
  font-size: 30px;
  font-weight: bolder;
  color: #000;
  height: 15vh;
  width: 15vw;
  margin: 20px 10px;
  background: #7c9;
  border-radius: 12px;
  border: 2px solid #fff;
  box-shadow: 2px 2px 4px #000;
}
.boton:hover {
  color: #fff;
  background: #3c9;
  cursor: pointer;
  transition: background 0.5s, color 0.5s;
}
