.min-100vh {
  min-height: 100vh;
  background-image: url("../../../../public/assets/hospital-background.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 30px;
  border: 2px solid #7c9;
  padding: 35px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background: #7c9;
  border: 2px solid #fff;
  box-shadow: 2px 2px 4px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background 0.5s, color 0.5s;
  cursor: pointer;
}

.boton:hover {
  background: #3c9;
}

.boton img {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  object-fit: cover;
}
