.min-100vh {
  min-height: 100vh;
  background-image: url("../../../../public/assets/hospital-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.min-100vh::after {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: cover;
}

.container {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 30px;
  border: 2px solid #7c9;
  padding: 35px;
  width: 70rem;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.custom-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #7c9;
  border: 3px solid #000;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  max-width: 200px;
}

.custom-button:hover {
  background-color: #3c9;
  transform: scale(1.05);
}

.button-image {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.button-text {
  font-weight: bolder;
  color: #000000;
  font-size: 1rem;
  text-align: center;
  margin: 0;
}
