<div class="d-flex justify-content-center align-items-center min-100vh">
    <div class="container">
        <div class="button-container">
            <button class="custom-button" routerLink="/informes-logs">
                <img src="assets/log-icon.png" alt="" class="button-image">
                <h2 class="button-text">Listado logs</h2>
            </button>
            <button class="custom-button" routerLink="/informes-turnos-por-especialidad">
                <img src="assets/grafico-barra.png" alt="" class="button-image">
                <h2 class="button-text">Turnos por especialidad</h2>
            </button>
            <button class="custom-button" routerLink="/informes-turnos-por-dia">
                <img src="assets/grafico-torta.png" alt="" class="button-image">
                <h2 class="button-text">Turnos por día</h2>
            </button>
            <button class="custom-button" routerLink="/informes-turnos-solicitados-por-medico">
                <img src="assets/grafico-donut.png" alt="" class="button-image">
                <h2 class="button-text">Turnos solicitado por medico</h2>
            </button>
            <button class="custom-button" routerLink="/informes-turnos-finalizados-por-medico">
                <img src="assets/grafico-barra-lateral.png" alt="" class="button-image">
                <h2 class="button-text">Turnos finalizados por medico</h2>
            </button>
        </div>
    </div>
</div>

<!-- <button class="btn btn-success" routerLink="/informes-turnos-por-especialista">
    <h2 class="mt-5">Turnos por especialista</h2>
</button>
<button class="btn btn-success" routerLink="/informes-logs">
    <h2 class="mt-5">Turnos finalizados por especialista</h2>
</button> -->