.container {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 30px;
  border: 2px solid #7c9;
  padding: 35px;
}

.min-100vh {
  min-height: 100vh;
  background-image: url("../../../../public/assets/hospital-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.btn-circular {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7c9;
  border: 2px solid #000;
  transition: 0.4s;
}
.btn-circular:hover {
  background-color: #3c9;
}
.btn-circular img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.text-white {
  color: #fff !important;
}
